/* #Reset & Basics (Inspired by E. Meyers)
================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; }
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block }
body { line-height: 1 }
ol, ul { list-style: none }
blockquote, q { quotes: none }
blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }
table { border-collapse: collapse; border-spacing: 0; }

/* #Basic Styles
================================================== */
body { 
  background: #fff; 
  font: 14px/21px 'Lato', sans-serif; 
  color: #fff; 
  -webkit-font-smoothing: antialiased; 
  /* Fix for webkit rendering */ 
  -webkit-text-size-adjust: 100%; 
  }

/* #Typography
================================================== */
h1, h2, h3, h4, h5, h6 { 
  color: #181818; font-family: "Georgia","Times New Roman",serif; 
  font-weight: 400; 
  }
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a { 
  font-weight: inherit 
  }
h2 { 
  font: bold 36px 'Lato', sans-serif; 
  font-style: italic; 
  color: #fff;
  }
p { 
  margin: 0 0 20px
  }
p img {
  margin: 0
  }
p.lead {
  font-size: 21px; 
  line-height: 27px; 
  color: #777;
  }
.section-title { 
  text-align: center; 
  margin: 0 10px;
  }
.section-title-offset { 
  position: relative; 
  top: -20px;
  }
.section-light { 
  background: url(../images/bg_double_light.png) repeat-x 0 19px
  }
.section-title span { 
  display: inline-block; 
  background: url(../images/ribbon_white.png) no-repeat; 
  color: #fff; 
  width: 213px; 
  height: 40px; 
  padding-top: 9px; 
  font: normal 18px 'Prata', serif;
  }
.action { 
  font-family: 'Qwigley', cursive; 
  font-size: 48px; 
  line-height: 1; 
  color: #fff; 
  text-align: center; }

/* #Links
================================================== */
a, a:visited { color: #333; text-decoration: none; outline: 0; }
a:hover, a:focus { color: #97263e }
p a, p a:visited { line-height: inherit }

/* #Lists
================================================== */
ul, ol { margin-bottom: 20px }
ul { list-style: none outside }
ol { list-style: decimal }
ol, ul.square, ul.circle, ul.disc { margin-left: 30px }
ul.square { list-style: square outside }
ul.circle { list-style: circle outside }
ul.disc { list-style: disc outside }
ul ul, ul ol, ol ol, ol ul { margin: 4px 0 5px 30px; font-size: 90%; }
ul ul li, ul ol li, ol ol li, ol ul li { margin-bottom: 6px }
li { line-height: 18px; margin-bottom: 12px; }
ul.large li { line-height: 21px }
li p { line-height: 21px }

/* #Images
================================================== */
img.scale-with-grid { max-width: 100%; height: auto; }

/* #Hello / Services
================================================== */
#services-wrap { background: url(../images/bg1.png) no-repeat top center }
#services { padding-bottom: 60px }
#services hgroup h2 { text-align: center; text-shadow: 0 -1px 0 rgba(0,0,0,0.3); margin-bottom: 40px; }
#services hgroup { margin: 40px 0 90px 0 }
#services .section-light { margin-bottom: 50px }
.services li { text-align: center }
.services img { display: block; }
.services h2 { font: normal 16px 'Prata', serif; margin: 30px 0 15px 0; }

/* #Media Queries
================================================== */

@media only screen and (max-width: 959px) {}
@media only screen and ( max-width: 768px ) {
	#navigation { background: none; text-align: center !important; position: static; }
    #navigation ul, #navigation p { display:none; }
    #navigation select { display:block; width:100%; margin-top:20px; }
    .services li { margin-bottom:30px !important; }
    .services img { margin:0 auto; }
    .portfolio-item, .client-item, .team li { height:auto; margin-bottom:20px !important; }    
    .portfolio-item h3 { width:100%; }
    #contact-wrap .container { margin:30px auto; }
}
@media only screen and (min-width: 768px) and (max-width: 959px) {}
@media only screen and (max-width: 767px) {}
@media only screen and (min-width: 480px) and (max-width: 767px) {
	#contact-wrap .section-title { margin:0; }
	header.container { padding:40px 0; }
	#top, #bottom, #team-wrap, #services-wrap { background:#444242; }
}
@media only screen and (max-width: 479px) {
	#contact-wrap .section-title { margin:0; }
	header.container { padding:40px 0; }
	#top, #bottom, #team-wrap, #services-wrap { background:#444242; }
}